@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

[type="radio"]:checked + label:after{
    border-color: #000;
    background-color: #000;
}

.string-type{
    color: #fff;
    background-color: #3a87ad;
    padding: 2px 4px;
    border-radius: 2px;
}
.boolean-type{
    color: #fff;
    background-color: rgb(18, 131, 39);
    padding: 2px 4px;
    border-radius: 2px;
}
.object-type{
    color: #fff;
    background-color: #999;
    padding: 2px 4px;
    border-radius: 2px;
}
.number-type{
    color: #fff;
    background-color: rgb(189, 63, 66);
    padding: 2px 4px;
    border-radius: 2px;
}
.function-type{
    color: #fff;
    background-color: purple;
    padding: 2px 4px;
    border-radius: 2px;
}

.footer{
    text-align: center;
}
